@import "common/variables";

// Automatically injected Bower dependencies via wiredep (never manually edit this block)
// bower:scss
@import "../../bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

@import "common/global";
@import "components/buttons";
@import "components/comments";
@import "components/forms";
@import "components/grid";
@import "components/wp-classes";
@import "layouts/header";
@import "layouts/sidebar";
@import "layouts/footer";
@import "layouts/pages";
@import "layouts/posts";
@import "layouts/tinymce";


*, *:before, *:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

body {
  font-size: 15px;
  color: #424343;
	background-color: #f7f7f9;
	line-height: 170%;

	p {
		line-height: 160%;
	}
}

// nav desktop
.navbar-brand {
  padding: 5px;
  height: auto;
	width: auto;
}

.home .navbar {
	margin-bottom: 0;
}


.navbar-default {
	background-color: #fff;
	padding: 10px 0;
	border: none;

	.navbar-nav {

		.active a,
		.open a {
			background-color: transparent;

			&:hover,
			&:focus {
				background-color: inherit;
			}
		}

		li {
			margin: 10px 0 0 15px;

			a {
				transition: all .3s;
				color: #424343;

				&:focus,
				&:active,
				&:hover {
					background-color: transparent;
					color: $orange;
				}
			}

			.dropdown-menu {
				margin: 10px 0;
				padding: 0;
				border: none;
				border-top: 4px solid $orange;
				border-radius: 0;
				box-shadow: none;
				min-width: 200px;
				left: auto;
			  right: 50%;
			  transform: translate(75%, 0);

				li {
					margin: 0;

					&:not(:last-child) a {
						border-bottom: 1px solid #ebebeb;
					}

					a {
						padding: 15px 20px;
					}
				}
			}
		}
	}
}


// forside desktop
.forside-intro {
	box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
	background-color: #fff;
	text-align: center;
	padding: 40px 0;

	h1 {
		font-size: 18px;
		font-weight: 400;
		margin: 0;
	}
}


// aoc desktop
.aoc-wrap {

	.forside-intro {
		padding: 0 200px;
		text-align: center;
		margin-top: 50px;
		margin-bottom: 75px;

		hr {
			width: 200px;
			height: 2px;
			border: none;
			background-color: #a6a6a6;
			margin-top: 50px;
		}
	}
}

.aoc-wrap {
	padding: 100px 0;

	.indholdskort {
		@extend .card-1;
		width: 100%;
		min-height: 450px;
		background-color: #fff;

		.indholdskort-content {
			padding: 20px 20px 0 20px;
			position: relative;
			height: 250px;

			hr {
				bottom: 6%;
				left: 0;
				position: absolute;
	    	width: 100%;
			}

			h2 {
				margin-bottom: 15px;
				font-weight: 500;
				font-size: 18px;
			}

			p {
				font-size: 15px;
			}

			.fa {
				margin-right: 10px;
			}

			.btn-aoc {
				bottom: 2%;
				position: absolute;
				padding: 0;
				margin: 0;
				color: #444;
				text-transform: uppercase;
				font-weight: 500;
				transition: all .3s;

				&:hover {
					color: $orange;
				}
			}
		}
	}
}

.forside-row-map {
	padding-top: 65px;
	padding-bottom: 75px;

	p {
		font-size: 17px;
		letter-spacing: 0.5px;
		line-height: 170%;
	}

	h1 {
		margin-top: 10px;
		font-size: 30px;
	}
}


.btn-default {
	text-transform: uppercase;
	border-radius: 0;
	border: 0;
	color: #333;
	padding: 10px 20px;
	font-weight: bold;
	font-size: 13px;

	&:hover,
	&:focus,
	&:active {
		border-top-left-radius: 5px ;
		border-bottom-right-radius: 5px;
		color: #fff !important;
		transform:translateX(7px);
	}
}



// footer desktop
.home footer {
	margin-top: 0;
}

footer {
	margin-top: 400px;
	background-color: $black;
	color: #fff;

	.content-info {
		padding: 40px;

		h3 {
	    font-size: 16px;
	    letter-spacing: 1px;
	    padding-bottom: 10px;
	    margin: 10px 0 25px 0;
	    position: relative;

			&:after {
	      content:"";
	      border-bottom: 2px solid #fff;
				opacity: 0.35;
	      position: absolute;
	      bottom: 0;
	      left: 0;
	      height: 50%;
	      width: 70px;
	    }
		}

		p {
			font-size: 14px;
	    line-height: 170%;
		}

		ul {
	    list-style: none;
	    padding: 0;

	    a {
	      color: #fff;
	      font-size: 14px;
	      line-height: 170%;
	      transition: 0.3s;

	      &:hover {
	        text-decoration: none;
					color: lighten($orange, 10%);
	      }
	    }
	  }
	}

	.copyright {
		background-color: lighten($black, 5%);
		padding: 8px 0;

		p {
			margin: 0;
			font-size: 14px;
			font-weight: 300;
		}
	}
}








/*==========  Non-Mobile First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {

	// nav mobile
	.navbar-brand {
	  padding: 15px 10px 10px 15px;
	  height: 40%;
		width: 40%;
	}

  .navbar-default {
		padding: 0;

		.navbar-nav {
			margin: 0 -15px;
		}

		.navbar-toggle {
			margin-top: 5%;
			border: none;
		}

    .navbar-collapse {
      background-color: #fff;
      border: none;

			li {
				padding: 0;
				margin: 5px 0;
				text-align: center;

				&:first-child {
					border-top: 4px solid $orange;
				}

				&:not(:last-child) a {
					border-bottom: 1px solid #ebebeb;
				}

				a {
					margin: 0;
					padding: 10px;
					color: #333333 !important;
				}
			}
    }
  }

  .collapsing {
    transition: height 0s ease;
  }
  // nav mobile

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {

}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}
